/* .styled{
  background-color:black;
  color:white; 
  
} 
  
.textbox{
  width: 300px;

}*/
.texts{
  text-align:center;
  color:indigo
} 
.tasks{
text-align:center;
}
span {
  float: right;
  color:darkgreen ;
  width: 100px;
}
/* .dates
{
 text-align: right;
 
} */
.sort{
  display:inline;
}
